Repository autonomys/subspace, pull requests merged in 2022-12, with the labels that each got.

#975 DSN. Handle WrongPeer connection error for libp2p.
  crates/subspace-networking/src/node_runner.rs
Labels: networking

#982 Farmer. Add pieces receiver batching.
  Cargo.lock
  crates/sp-lightclient/src/tests.rs
  crates/subspace-farmer-components/Cargo.toml
  crates/subspace-farmer-components/benches/auditing.rs
  crates/subspace-farmer-components/benches/plotting.rs
  crates/subspace-farmer-components/benches/proving.rs
  crates/subspace-farmer-components/src/plotting.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-farmer/src/bin/subspace-farmer/main.rs
  crates/subspace-farmer/src/single_disk_plot.rs
  crates/subspace-farmer/src/single_disk_plot/piece_receiver.rs
  test/subspace-test-client/src/lib.rs
Labels: farmer

#985 farrmer: Add piece publishing batcher.
  crates/subspace-farmer-components/src/plotting.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-farmer/src/bin/subspace-farmer/main.rs
  crates/subspace-farmer/src/single_disk_plot.rs
  crates/subspace-farmer/src/single_disk_plot/piece_publisher.rs
Labels: farmer

#993 Reuse DSN networking (for SDK)
  Cargo.lock
  crates/sc-piece-cache/Cargo.toml
  crates/sc-piece-cache/README.md
  crates/sc-piece-cache/src/lib.rs
  crates/sc-piece-cache/src/tests.rs
  crates/subspace-networking/src/behavior/custom_record_store.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/node.rs
  crates/subspace-node/src/bin/subspace-node.rs
  crates/subspace-service/Cargo.toml
  crates/subspace-service/src/dsn.rs
  crates/subspace-service/src/dsn/piece_record_store.rs
  crates/subspace-service/src/lib.rs
  crates/subspace-service/src/piece_cache.rs
  crates/subspace-service/src/piece_cache/tests.rs
  domains/test/service/src/lib.rs
  test/subspace-test-service/src/lib.rs
Labels: refactor, improvement, node

#992 Node. Add piece publishing batcher.
  Cargo.lock
  crates/sp-lightclient/Cargo.toml
  crates/sp-lightclient/src/tests.rs
  crates/subspace-farmer-components/benches/auditing.rs
  crates/subspace-farmer-components/benches/plotting.rs
  crates/subspace-farmer-components/benches/proving.rs
  crates/subspace-farmer-components/src/plotting.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-farmer/src/single_disk_plot.rs
  crates/subspace-farmer/src/single_disk_plot/piece_publisher.rs
  crates/subspace-farmer/src/single_disk_plot/piece_receiver.rs
  crates/subspace-networking/src/behavior/custom_record_store.rs
  crates/subspace-node/Cargo.toml
  crates/subspace-node/src/bin/subspace-node.rs
  crates/subspace-node/src/lib.rs
  crates/subspace-service/Cargo.toml
  crates/subspace-service/src/dsn.rs
  crates/subspace-service/src/lib.rs
  domains/test/service/src/lib.rs
  test/subspace-test-client/Cargo.toml
  test/subspace-test-client/src/lib.rs
  test/subspace-test-service/src/lib.rs
Labels: node

#1014 fix rust.yaml
  .github/workflows/rust.yaml
Labels: bug

#1018 Update API with GATs and change `RecordStorage` API
  crates/subspace-networking/src/behavior/custom_record_store.rs
  crates/subspace-service/src/piece_cache.rs
Labels: networking
