Repository autonomys/subspace, pull requests merged in 2022-11, with the labels that each got.

#892 DSN. Adjust caches for nodes and farmers.
  Cargo.lock
  crates/sc-piece-cache/Cargo.toml
  crates/sc-piece-cache/src/lib.rs
  crates/sc-piece-cache/src/tests.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-farmer/src/bin/subspace-farmer/main.rs
  crates/subspace-farmer/src/single_disk_plot.rs
  crates/subspace-farmer/src/single_disk_plot/piece_publisher.rs
  crates/subspace-networking/src/behavior/custom_record_store.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/lib.rs
  crates/subspace-networking/src/node.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/utils.rs
  crates/subspace-networking/src/utils/circular_buffer.rs
  crates/subspace-service/src/dsn.rs
  crates/subspace-service/src/dsn/piece_record_store.rs
  crates/subspace-service/src/lib.rs
Labels: farmer, networking, node

#913 Dsn. Change caching data structure.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-networking/src/behavior.rs
  crates/subspace-networking/src/behavior/custom_record_store.rs
  crates/subspace-networking/src/behavior/record_binary_heap.rs
  crates/subspace-networking/src/behavior/tests.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/lib.rs
  crates/subspace-networking/src/utils.rs
  crates/subspace-networking/src/utils/circular_buffer.rs
Labels: farmer, networking

#925 farmer: Fix minimum plot size check.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-farmer/src/bin/subspace-farmer/main.rs
  crates/subspace-farmer/src/bin/subspace-farmer/utils.rs
Labels: farmer

#905 DSN. Add libp2p metrics.
  Cargo.lock
  crates/sc-piece-cache/src/lib.rs
  crates/subspace-networking/Cargo.toml
  crates/subspace-networking/examples/requests.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/lib.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/utils.rs
  crates/subspace-networking/src/utils/prometheus.rs
  crates/subspace-service/src/dsn/piece_record_store.rs
Labels: networking

#942 DSN by default 🎉
  Cargo.lock
  crates/sc-consensus-subspace-rpc/Cargo.toml
  crates/sc-consensus-subspace-rpc/src/lib.rs
  crates/sp-lightclient/src/tests.rs
  crates/subspace-farmer-components/Cargo.toml
  crates/subspace-farmer-components/benches/auditing.rs
  crates/subspace-farmer-components/benches/plotting.rs
  crates/subspace-farmer-components/benches/proving.rs
  crates/subspace-farmer-components/src/lib.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/bench.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-farmer/src/bin/subspace-farmer/main.rs
  crates/subspace-farmer/src/rpc_client.rs
  crates/subspace-farmer/src/rpc_client/bench_rpc_client.rs
  crates/subspace-farmer/src/rpc_client/node_rpc_client.rs
  crates/subspace-farmer/src/single_disk_plot.rs
  crates/subspace-farmer/src/single_disk_plot/piece_receiver.rs
  crates/subspace-farmer/src/utils.rs
  crates/subspace-node/src/bin/subspace-node.rs
  crates/subspace-node/src/lib.rs
  crates/subspace-rpc-primitives/Cargo.toml
  crates/subspace-rpc-primitives/src/lib.rs
  crates/subspace-service/src/dsn.rs
  crates/subspace-service/src/lib.rs
  crates/subspace-service/src/rpc.rs
  docs/farming.md
  domains/test/service/Cargo.toml
  domains/test/service/src/lib.rs
  test/subspace-test-client/src/lib.rs
  test/subspace-test-service/Cargo.toml
  test/subspace-test-service/src/lib.rs
Labels: refactor, farmer, improvement, networking, node

#947 Change the default record cache size for farmers.
  crates/subspace-farmer/src/bin/subspace-farmer/main.rs
Labels: farmer

#946 DSN.Add piece cache parameters configuration.
  Cargo.lock
  crates/sc-piece-cache/Cargo.toml
  crates/sc-piece-cache/src/lib.rs
  crates/sc-piece-cache/src/tests.rs
  crates/subspace-node/Cargo.toml
  crates/subspace-node/src/bin/subspace-node.rs
  crates/subspace-node/src/lib.rs
  crates/subspace-service/src/dsn/piece_record_store.rs
  crates/subspace-service/src/lib.rs
  domains/test/service/src/lib.rs
  test/subspace-test-service/src/lib.rs
Labels: node

#957 Restore DSN block import for subspace node.
  crates/subspace-node/src/import_blocks_from_dsn.rs
Labels: networking, node

#951 DSN. Add `disable_non_global_addresses_in_dht` to the CLI arguments
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-farmer/src/bin/subspace-farmer/main.rs
  crates/subspace-networking/examples/announce-piece-complex.rs
  crates/subspace-networking/examples/announce-piece.rs
  crates/subspace-networking/examples/get-peers-complex.rs
  crates/subspace-networking/examples/get-peers.rs
  crates/subspace-networking/examples/networking.rs
  crates/subspace-networking/examples/requests.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-node/src/bin/subspace-node.rs
  crates/subspace-node/src/import_blocks_from_dsn.rs
  crates/subspace-node/src/lib.rs
  crates/subspace-service/src/dsn.rs
  domains/test/service/src/lib.rs
  test/subspace-test-service/src/lib.rs
Labels: networking, node

#971 Farmer: Add networking keypair derivation from the disk farm identity.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-networking/src/create.rs
Labels: farmer, networking
