Repository autonomys/subspace, pull requests merged in 2023-01, with the labels that each got.

#1059 DSN. Pull-model PR update.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/fixed_provider_storage.rs
  crates/subspace-farmer/src/bin/subspace-farmer/main.rs
  crates/subspace-farmer/src/single_disk_plot.rs
  crates/subspace-farmer/src/single_disk_plot/piece_publisher.rs
  crates/subspace-networking/src/behavior/custom_record_store.rs
  crates/subspace-networking/src/behavior/custom_record_store/providers.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/lib.rs
  crates/subspace-networking/src/utils.rs
  crates/subspace-networking/src/utils/multihash.rs
Labels: farmer, networking

#1060 DSN. Add GlobalIPsOnlyTransport for swarm.
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/create/transport.rs
  crates/subspace-networking/src/node.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/shared.rs
Labels: networking

#1063 Fix failing tests for subspace-networking crate.
  crates/subspace-networking/src/behavior/tests.rs
  crates/subspace-networking/src/utils/record_binary_heap.rs
Labels: networking

#1028 DSN. Change Kademlia usage pattern to "pull-model".
  Cargo.lock
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/farmer_provider_storage.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/piece_storage.rs
  crates/subspace-farmer/src/bin/subspace-farmer/main.rs
  crates/subspace-farmer/src/single_disk_plot/piece_publisher.rs
  crates/subspace-farmer/src/single_disk_plot/piece_receiver.rs
  crates/subspace-networking/Cargo.toml
  crates/subspace-networking/examples/announce-piece-complex.rs
  crates/subspace-networking/examples/announce-piece.rs
  crates/subspace-networking/examples/custom-store.rs
  crates/subspace-networking/examples/get-peers-complex.rs
  crates/subspace-networking/examples/get-peers.rs
  crates/subspace-networking/examples/networking.rs
  crates/subspace-networking/examples/requests.rs
  crates/subspace-networking/src/behavior.rs
  crates/subspace-networking/src/behavior/custom_record_store.rs
  crates/subspace-networking/src/behavior/provider_storage.rs
  crates/subspace-networking/src/behavior/provider_storage/providers.rs
  crates/subspace-networking/src/behavior/provider_storage/providers/tests.rs
  crates/subspace-networking/src/behavior/tests.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/lib.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/request_handlers/piece_by_key.rs
  crates/subspace-networking/src/utils.rs
  crates/subspace-networking/src/utils/multihash.rs
  crates/subspace-networking/src/utils/record_binary_heap.rs
  crates/subspace-node/src/import_blocks_from_dsn.rs
  crates/subspace-service/src/dsn.rs
  crates/subspace-service/src/lib.rs
  crates/subspace-service/src/piece_cache.rs
  crates/subspace-service/src/piece_cache/tests.rs
Labels: farmer, networking, node

#1068 node: Add provider record persistence.
  Cargo.lock
  crates/subspace-networking/src/behavior/provider_storage/providers.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-node/src/bin/subspace-node.rs
  crates/subspace-service/Cargo.toml
  crates/subspace-service/src/dsn.rs
  crates/subspace-service/src/dsn/node_provider_storage.rs
  crates/subspace-service/src/lib.rs
  crates/subspace-service/src/piece_cache.rs
  domains/test/service/src/lib.rs
  test/subspace-test-service/src/lib.rs
Labels: networking

#1070 DSN. Refactor piece receiving.
  Cargo.lock
  crates/subspace-farmer-components/src/plotting.rs
  crates/subspace-farmer/src/single_disk_plot.rs
  crates/subspace-farmer/src/single_disk_plot/piece_receiver.rs
  crates/subspace-networking/Cargo.toml
  crates/subspace-networking/src/lib.rs
  crates/subspace-networking/src/utils.rs
  crates/subspace-networking/src/utils/piece_receiver.rs
Labels: farmer, networking

#1072 networking: Unite requests for storage types.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/farmer_provider_storage.rs
  crates/subspace-farmer/src/single_disk_plot/piece_publisher.rs
  crates/subspace-networking/src/lib.rs
  crates/subspace-networking/src/request_handlers/piece_by_key.rs
  crates/subspace-networking/src/utils/multihash.rs
  crates/subspace-networking/src/utils/piece_receiver.rs
  crates/subspace-service/src/dsn.rs
Labels: networking

#1079 Downgrade warning to debug message when one provider is not reachable
  crates/subspace-networking/src/utils/piece_receiver.rs
Labels: improvement, networking

#1078 Remove unnecessary piece retrieval/publishing timeout
  crates/subspace-farmer/src/single_disk_plot/piece_publisher.rs
  crates/subspace-networking/src/utils/piece_receiver.rs
Labels: improvement, networking

#1120 Add root block storage to node.
  Cargo.lock
  crates/sc-consensus-subspace-rpc/Cargo.toml
  crates/sc-consensus-subspace-rpc/src/lib.rs
  crates/subspace-farmer/src/node_client.rs
  crates/subspace-farmer/src/node_client/node_rpc_client.rs
  crates/subspace-service/src/lib.rs
  crates/subspace-service/src/root_blocks.rs
  crates/subspace-service/src/rpc.rs
Labels: farmer, node
