Repository autonomys/subspace, pull requests merged in 2023-09, with the labels that each got.

#1923 Refactor temporary bans in `subspace-networking` crate.
  crates/subspace-networking/src/node_runner.rs
Labels: bug, networking

#1926 Add temporary bans fix for gemini-3f maintenance branch.
  crates/subspace-networking/src/node_runner.rs
Labels: networking

#1930 Tune piece retrieval parameters for DSN (gemini-3f backport).
  crates/subspace-farmer/src/bin/subspace-farmer/main.rs
  crates/subspace-networking/src/constructor.rs
  crates/subspace-networking/src/utils/piece_provider.rs
  crates/subspace-service/src/lib.rs
  crates/subspace-service/src/sync_from_dsn/import_blocks.rs
Labels: networking

#1931 Introduce a parallel piece retrieval in benchmark (DSN example).
  crates/subspace-networking/examples/benchmark.rs
Labels: networking

#1932 Implement the fraud proof v2 processing
  crates/pallet-domains/src/block_tree.rs
  crates/pallet-domains/src/lib.rs
  crates/pallet-domains/src/staking.rs
  crates/pallet-domains/src/tests.rs
  crates/sp-domains/src/fraud_proof.rs
  crates/subspace-fraud-proof/src/invalid_transaction_proof.rs
Labels: execution, fraud-proof

#1933 Rework prometheus metrics.
  Cargo.lock
  Cargo.toml
  crates/subspace-farmer/Cargo.toml
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-farmer/src/bin/subspace-farmer/main.rs
  crates/subspace-networking/Cargo.toml
  crates/subspace-networking/examples/metrics.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/lib.rs
  crates/subspace-networking/src/utils.rs
  crates/subspace-networking/src/utils/prometheus.rs
  crates/subspace-service/Cargo.toml
  crates/subspace-service/src/dsn.rs
  crates/subspace-service/src/lib.rs
  shared/subspace-metrics/Cargo.toml
  shared/subspace-metrics/src/lib.rs
Labels: enhancement, farmer, improvement, networking, node

#1956 Fix DSN sync for nodes.
  crates/subspace-node/src/lib.rs
  crates/subspace-service/src/dsn.rs
Labels: networking

#1955 Fix node DSN sync.
  crates/subspace-node/src/bin/subspace-node.rs
  crates/subspace-node/src/lib.rs
  crates/subspace-service/src/dsn.rs
  crates/subspace-service/src/lib.rs
  crates/subspace-service/src/sync_from_dsn.rs
  crates/subspace-service/src/sync_from_dsn/import_blocks.rs
Labels: bug, networking

#1988 Update KZG public parameters to final values from Ethereum KZG Summoning Ceremony
  crates/subspace-core-primitives/src/crypto/kzg.rs
  crates/subspace-core-primitives/src/crypto/kzg/eth-public-parameters.bin
Labels: breaking-consensus

#1991 Increase K to 20 in chiapos
  crates/subspace-core-primitives/src/lib.rs
  crates/subspace-proof-of-space/benches/pos.rs
  crates/subspace-proof-of-space/src/chia.rs
Labels: breaking-consensus

#2009 Request rate limiter for subspace-networking crate.
  crates/subspace-networking/src/constructor.rs
  crates/subspace-networking/src/node.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/shared.rs
  crates/subspace-networking/src/utils.rs
  crates/subspace-networking/src/utils/rate_limiter.rs
  crates/subspace-networking/src/utils/rate_limiter/resizable_semaphore.rs
  crates/subspace-networking/src/utils/rate_limiter/tests.rs
  crates/subspace-networking/src/utils/tests.rs
Labels: networking

#2008 Enable balance transfers
  Cargo.lock
  crates/pallet-domains/src/benchmarking.rs
  crates/pallet-domains/src/lib.rs
  crates/pallet-domains/src/staking_epoch.rs
  crates/pallet-runtime-configs/Cargo.toml
  crates/pallet-runtime-configs/src/benchmarking.rs
  crates/pallet-runtime-configs/src/lib.rs
  crates/pallet-runtime-configs/src/weights.rs
  crates/pallet-subspace/src/benchmarking.rs
  crates/subspace-node/src/chain_spec.rs
  crates/subspace-runtime/Cargo.toml
  crates/subspace-runtime/src/lib.rs
  crates/subspace-runtime/src/signed_extensions.rs
  domains/runtime/evm/src/lib.rs
Labels: breaking-runtime

#2013 Add random-walker example to subspace-networking crate
  crates/subspace-networking/examples/random-walker.rs
  crates/subspace-networking/src/lib.rs
  crates/subspace-networking/src/node.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/shared.rs
Labels: networking

#2015 Parallel block verification
  Cargo.lock
  crates/sc-consensus-subspace/Cargo.toml
  crates/sc-consensus-subspace/src/lib.rs
  crates/sc-consensus-subspace/src/verifier.rs
Labels: Need to audit
