Repository autonomys/subspace, pull requests merged in 2023-06, with the labels that each got.

#1474 Add reserved-peers protocol for DSN.
  crates/subspace-networking/src/behavior.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/lib.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/reserved_peers.rs
  crates/subspace-networking/src/reserved_peers/handler.rs
  crates/subspace-service/src/dsn.rs
Labels: networking

#1543 Disable block sync for domain subnet and use it to propagate domain extrinsic
  Cargo.lock
  domains/client/domain-executor/src/tests.rs
  domains/service/Cargo.toml
  domains/service/src/core_domain.rs
  domains/service/src/lib.rs
  domains/service/src/system_domain.rs
  domains/test/service/src/lib.rs
  domains/test/service/src/system_domain.rs
Labels: execution

#1555 Rename node RPC methods.
  crates/sc-consensus-subspace-rpc/src/lib.rs
  crates/subspace-farmer/src/node_client/node_rpc_client.rs
Labels: farmer, node, breaking-node, breaking-farmer

#1556 networking: Add missing doc comments.
  crates/subspace-networking/src/behavior/persistent_parameters.rs
  crates/subspace-networking/src/behavior/provider_storage.rs
  crates/subspace-networking/src/behavior/provider_storage/providers.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/lib.rs
  crates/subspace-networking/src/node.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/request_handlers/generic_request_handler.rs
  crates/subspace-networking/src/request_handlers/segment_header.rs
  crates/subspace-networking/src/utils.rs
  crates/subspace-networking/src/utils/multihash.rs
  crates/subspace-networking/src/utils/piece_announcement.rs
  crates/subspace-networking/src/utils/piece_provider.rs
Labels: documentation, networking

#1560 Update rust-libp2p version to crates v0.51.3.
  Cargo.lock
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-networking/Cargo.toml
  crates/subspace-networking/examples/get-peers-complex.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/create/transport.rs
  crates/subspace-networking/src/request_responses/tests.rs
Labels: networking

#1581 Fix chiapos quality hashing
  crates/subspace-proof-of-space/src/chiapos/tables.rs
Labels: breaking-consensus

#1576 Recent weight piece sampling
  crates/pallet-subspace/src/lib.rs
  crates/pallet-subspace/src/mock.rs
  crates/sc-consensus-subspace-rpc/src/lib.rs
  crates/sc-consensus-subspace/src/lib.rs
  crates/sc-consensus-subspace/src/slot_worker.rs
  crates/sp-consensus-subspace/src/lib.rs
  crates/sp-lightclient/src/lib.rs
  crates/sp-lightclient/src/tests.rs
  crates/subspace-core-primitives/src/lib.rs
  crates/subspace-core-primitives/src/pieces.rs
  crates/subspace-core-primitives/src/segments.rs
  crates/subspace-farmer-components/benches/auditing.rs
  crates/subspace-farmer-components/benches/plotting.rs
  crates/subspace-farmer-components/benches/proving.rs
  crates/subspace-farmer-components/benches/reading.rs
  crates/subspace-farmer-components/src/lib.rs
  crates/subspace-farmer-components/src/plotting.rs
  crates/subspace-farmer/src/single_disk_plot.rs
  crates/subspace-runtime/src/lib.rs
  crates/subspace-verification/src/lib.rs
  test/subspace-test-client/src/lib.rs
  test/subspace-test-runtime/src/lib.rs
Labels: breaking-runtime, breaking-consensus, breaking-node, breaking-farmer

#1607 Replace evaluation seed derivation function according to update spec
  crates/subspace-core-primitives/src/lib.rs
Labels: breaking-consensus

#1604 Change solution distance function
  crates/subspace-core-primitives/src/crypto.rs
  crates/subspace-core-primitives/src/lib.rs
  crates/subspace-verification/src/lib.rs
Labels: breaking-consensus
