Repository autonomys/subspace, pull requests merged in 2023-12, with the labels that each got.

#2295 Disable "connected peers" and "peer info" protocols.
  crates/subspace-networking/src/behavior.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/protocols/connected_peers.rs
  crates/subspace-networking/src/protocols/peer_info.rs
  crates/subspace-service/src/sync_from_dsn.rs
Labels: networking

#2263 Illegal tx detection in context of whole bundle
  Cargo.lock
  crates/sp-domains-fraud-proof/Cargo.toml
  crates/sp-domains-fraud-proof/src/tests.rs
  crates/sp-domains/src/lib.rs
  domains/client/block-preprocessor/src/lib.rs
  domains/client/block-preprocessor/src/stateless_runtime.rs
  domains/client/domain-operator/src/domain_bundle_proposer.rs
  domains/client/domain-operator/src/tests.rs
  domains/primitives/runtime/src/lib.rs
  domains/runtime/evm/src/lib.rs
  domains/test/runtime/evm/src/lib.rs
  domains/test/service/src/domain.rs
  domains/test/service/src/lib.rs
Labels: breaking-runtime, breaking-execution

#2320 Prefer peer with the highest reputation if multiple PoT proofs were gossiped
  crates/sc-proof-of-time/src/source/gossip.rs
Labels: need to audit

#2284 Add infrastructure for Subspace networking metrics.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-networking/examples/benchmark.rs
  crates/subspace-networking/examples/metrics.rs
  crates/subspace-networking/examples/random-walker.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/constructor.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/utils.rs
  crates/subspace-service/src/dsn.rs
Labels: networking

#2324 Remove support of connected-peers and peer-info protocols.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-networking/examples/benchmark.rs
  crates/subspace-networking/examples/random-walker.rs
  crates/subspace-networking/src/behavior.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/constructor.rs
  crates/subspace-networking/src/lib.rs
  crates/subspace-networking/src/node.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/protocols.rs
  crates/subspace-networking/src/protocols/connected_peers.rs
  crates/subspace-networking/src/protocols/connected_peers/handler.rs
  crates/subspace-networking/src/protocols/connected_peers/tests.rs
  crates/subspace-networking/src/protocols/peer_info.rs
  crates/subspace-networking/src/protocols/peer_info/handler.rs
  crates/subspace-networking/src/protocols/peer_info/protocol.rs
  crates/subspace-networking/src/shared.rs
  crates/subspace-service/src/dsn.rs
Labels: networking

#2341 Introduce piece acquisition by L1 random-walking algorithm.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-farmer/src/utils/farmer_piece_getter.rs
  crates/subspace-farmer/src/utils/piece_validator.rs
  crates/subspace-networking/examples/benchmark.rs
  crates/subspace-networking/src/node.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/shared.rs
  crates/subspace-networking/src/utils/piece_provider.rs
  crates/subspace-service/src/sync_from_dsn/import_blocks.rs
Labels: networking

#2366 Decrease MAX_RANDOM_WALK_ROUNDS const in subspace-farmer.
  crates/subspace-farmer/src/utils/farmer_piece_getter.rs
Labels: networking
