Repository autonomys/subspace, pull requests merged in 2023-11, with the labels that each got.

#2182 Add `--disable-bootstrap-on-start` flag for DSN apps.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-networking/src/constructor.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-node/src/bin/subspace-node.rs
  crates/subspace-node/src/lib.rs
  crates/subspace-service/src/dsn.rs
Labels: networking

#2191 Remove timestamp-based `slot_now` for equivocation check
  crates/sc-consensus-subspace/src/verifier.rs
  crates/subspace-service/src/lib.rs
Labels: consensus, Need to audit

#2195 Fix QUIC buffer warning for DSN.
  Cargo.lock
  crates/subspace-networking/Cargo.toml
  crates/subspace-networking/src/constructor.rs
  crates/subspace-networking/src/constructor/transport.rs
  crates/subspace-networking/src/protocols/reserved_peers.rs
  crates/subspace-networking/src/protocols/reserved_peers/tests.rs
Labels: networking

#2201 Accelerate DSN sync
  crates/subspace-service/src/sync_from_dsn/segment_header_downloader.rs
Labels: Need to audit

#2219 Tune DSN parameters.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-networking/src/constructor.rs
  crates/subspace-networking/src/protocols/connected_peers.rs
  crates/subspace-node/src/lib.rs
Labels: networking

#2225 Improve network connectivity
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/constructor.rs
  crates/subspace-networking/src/protocols/connected_peers.rs
  crates/subspace-networking/src/protocols/connected_peers/tests.rs
  crates/subspace-node/src/lib.rs
  crates/subspace-service/src/dsn.rs
Labels: Need to audit

#2222 Improve DSN sync security
  crates/subspace-service/src/sync_from_dsn/segment_header_downloader.rs
Labels: Need to audit

#2228 Fix DSN sync exit condition
  crates/subspace-service/src/sync_from_dsn/segment_header_downloader.rs
Labels: Need to audit

#2231 Fast node restart after upgrade
  crates/subspace-service/src/lib.rs
  crates/subspace-service/src/sync_from_dsn.rs
Labels: Need to audit

#2233 Fix "temporary bans on dial" condition.
  crates/subspace-networking/src/node_runner.rs
Labels: bug, networking

#2238 Restore static Kademlia mode for nodes.
  crates/subspace-networking/src/constructor.rs
  crates/subspace-networking/src/node_runner.rs
Labels: bug, networking

#2242 Autonat and Kademlia settings updates.
  crates/subspace-networking/src/behavior.rs
  crates/subspace-networking/src/constructor.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/protocols.rs
  crates/subspace-networking/src/protocols/autonat_wrapper.rs
Labels: networking

#2256 Remove obsolete addresses from subspace-bootstrap-node's DHT routing table.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-farmer/src/lib.rs
  crates/subspace-farmer/src/single_disk_farm.rs
  crates/subspace-networking/src/behavior/persistent_parameters.rs
  crates/subspace-networking/src/behavior/tests.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/constructor.rs
  crates/subspace-networking/src/lib.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/utils.rs
  crates/subspace-node/src/bin/subspace-node.rs
  crates/subspace-service/src/dsn.rs
Labels: networking

#2266 Introduce `operator_id` cli arg that replaces `operator` arg.
  crates/sp-domains/src/bundle_producer_election.rs
  crates/subspace-node/src/domain/cli.rs
  crates/subspace-node/src/domain/domain_instance_starter.rs
  domains/client/domain-operator/src/bundle_producer_election_solver.rs
  domains/client/domain-operator/src/domain_bundle_producer.rs
  domains/client/domain-operator/src/domain_worker_starter.rs
  domains/client/domain-operator/src/lib.rs
  domains/client/domain-operator/src/operator.rs
  domains/service/src/domain.rs
  domains/test/service/src/domain.rs
Labels: breaking-node

#2279 Add connection type discrimination for connected-peers protocol.
  crates/subspace-networking/src/protocols/connected_peers.rs
  crates/subspace-networking/src/protocols/connected_peers/tests.rs
Labels: networking

#2280 Add Kademlia stats logging for subspace-networking crates.
  crates/subspace-networking/src/node_runner.rs
Labels: networking
