Repository autonomys/subspace, pull requests merged in 2023-05, with the labels that each got.

#1413 Set up the mock primary node network and gossip message worker properly
  Cargo.lock
  crates/subspace-node/src/bin/subspace-node.rs
  domains/client/cross-domain-message-gossip/src/gossip_worker.rs
  domains/client/cross-domain-message-gossip/src/lib.rs
  domains/test/runtime/system/src/runtime.rs
  domains/test/service/Cargo.toml
  domains/test/service/src/chain_spec.rs
  domains/test/service/src/core_domain.rs
  domains/test/service/src/system_domain.rs
  test/subspace-test-service/Cargo.toml
  test/subspace-test-service/src/lib.rs
Labels: execution

#1433 Modify parity_db storage provider for DSN.
  crates/subspace-networking/src/behavior/provider_storage/providers.rs
Labels: farmer, networking, node

#1453 Parallel chiapos
  Cargo.lock
  crates/subspace-core-primitives/Cargo.toml
  crates/subspace-farmer-components/Cargo.toml
  crates/subspace-farmer-components/src/proving.rs
  crates/subspace-farmer/Cargo.toml
  crates/subspace-proof-of-space/Cargo.toml
  crates/subspace-proof-of-space/benches/pos.rs
  crates/subspace-proof-of-space/src/chia.rs
  crates/subspace-proof-of-space/src/chiapos.rs
  crates/subspace-proof-of-space/src/chiapos/table.rs
  crates/subspace-proof-of-space/src/chiapos/tables.rs
  crates/subspace-proof-of-space/src/chiapos/tables/tests.rs
  crates/subspace-proof-of-space/src/lib.rs
Labels: breaking-farmer

#1452 Update rust-libp2p to v1.51.3 (DSN)
  Cargo.lock
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-networking/Cargo.toml
  crates/subspace-networking/examples/custom-store.rs
  crates/subspace-networking/examples/get-peers-complex.rs
  crates/subspace-networking/src/behavior.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/node.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/request_responses.rs
  crates/subspace-networking/src/request_responses/tests.rs
  crates/subspace-networking/src/shared.rs
Labels: networking
