Repository autonomys/subspace, pull requests merged in 2023-10, with the labels that each got.

#2035 Adjust test constants for windows in the subspace-networking crate.
  crates/subspace-networking/src/protocols/connected_peers/tests.rs
Labels: networking

#2062 Temporarily disable connected-peers tests on Windows.
  crates/subspace-networking/src/protocols/connected_peers.rs
Labels: networking

#2066 Backport and tweak RateLimiter to gemini-3f
  crates/subspace-farmer/src/piece_cache.rs
  crates/subspace-farmer/src/single_disk_farm/plotting.rs
  crates/subspace-networking/examples/benchmark.rs
  crates/subspace-networking/src/constructor.rs
  crates/subspace-networking/src/node.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/shared.rs
  crates/subspace-networking/src/utils.rs
  crates/subspace-networking/src/utils/piece_provider.rs
  crates/subspace-networking/src/utils/rate_limiter.rs
  crates/subspace-networking/src/utils/rate_limiter/resizable_semaphore.rs
  crates/subspace-networking/src/utils/rate_limiter/tests.rs
  crates/subspace-networking/src/utils/tests.rs
  crates/subspace-node/src/bin/subspace-node.rs
  crates/subspace-node/src/lib.rs
  crates/subspace-service/src/lib.rs
  crates/subspace-service/src/sync_from_dsn.rs
  crates/subspace-service/src/sync_from_dsn/import_blocks.rs
Labels: networking

#2070 RateLimiter upgrade for subspace-networking crate.
  crates/subspace-farmer/src/piece_cache.rs
  crates/subspace-farmer/src/single_disk_farm/plotting.rs
  crates/subspace-networking/src/node.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/shared.rs
  crates/subspace-networking/src/utils/piece_provider.rs
  crates/subspace-networking/src/utils/rate_limiter.rs
  crates/subspace-service/src/sync_from_dsn/import_blocks.rs
Labels: networking

#2079 Replace most of blake2 usage with blake3
  Cargo.lock
  crates/pallet-feeds/src/feed_processor.rs
  crates/pallet-feeds/src/lib.rs
  crates/pallet-feeds/src/tests.rs
  crates/pallet-object-store/src/lib.rs
  crates/pallet-object-store/src/tests.rs
  crates/pallet-subspace/src/benchmarking.rs
  crates/pallet-subspace/src/mock.rs
  crates/sp-domains/src/bundle_producer_election.rs
  crates/sp-domains/src/lib.rs
  crates/sp-domains/src/merkle_tree.rs
  crates/subspace-archiving/src/archiver.rs
  crates/subspace-archiving/src/piece_reconstructor.rs
  crates/subspace-archiving/tests/integration/archiver.rs
  crates/subspace-core-primitives/Cargo.toml
  crates/subspace-core-primitives/src/crypto.rs
  crates/subspace-core-primitives/src/lib.rs
  crates/subspace-core-primitives/src/objects.rs
  crates/subspace-farmer-components/benches/auditing.rs
  crates/subspace-farmer-components/benches/proving.rs
  crates/subspace-farmer-components/src/auditing.rs
  crates/subspace-farmer/src/single_disk_farm/plotting.rs
  crates/subspace-networking/src/constructor.rs
  crates/subspace-proof-of-space/src/shim.rs
  crates/subspace-rpc-primitives/src/lib.rs
  crates/subspace-runtime/tests/integration/object_mapping.rs
  crates/subspace-verification/src/lib.rs
  domains/runtime/evm/src/lib.rs
  domains/test/runtime/evm/src/lib.rs
Labels: breaking-consensus

#2076 Introduce automatic Kademlia mode for subspace-networking.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-networking/examples/benchmark.rs
  crates/subspace-networking/examples/random-walker.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/constructor.rs
  crates/subspace-networking/src/lib.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-service/src/dsn.rs
Labels: networking

#2075 Adjust QUIC usage in subspace-networking crate
  Cargo.lock
  crates/subspace-farmer/src/bin/subspace-farmer/main.rs
  crates/subspace-networking/Cargo.toml
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/constructor/transport.rs
  crates/subspace-node/res/chain-spec-raw-devnet.json
  crates/subspace-node/src/lib.rs
Labels: networking

#2078 Disallow block solutions in votes
  crates/pallet-subspace/src/lib.rs
  crates/pallet-subspace/src/mock.rs
  crates/pallet-subspace/src/tests.rs
  crates/sc-consensus-subspace/src/slot_worker.rs
  crates/sp-consensus-subspace/src/lib.rs
Labels: breaking-consensus, Need to audit

#2126 Add more logs for bootstrapping to subspace-networking crate.
  crates/subspace-networking/src/node_runner.rs
Labels: networking

#2158 Remove storage pallets
  Cargo.lock
  crates/subspace-runtime/Cargo.toml
  crates/subspace-runtime/src/feed_processor.rs
  crates/subspace-runtime/src/lib.rs
  crates/subspace-runtime/src/object_mapping.rs
  crates/subspace-runtime/tests/integration/main.rs
  crates/subspace-runtime/tests/integration/object_mapping.rs
  test/subspace-test-runtime/Cargo.toml
  test/subspace-test-runtime/src/lib.rs
Labels: breaking-runtime

#2164 Change plot auditing to reduce amount of computation needed
  crates/pallet-subspace/src/lib.rs
  crates/pallet-subspace/src/mock.rs
  crates/pallet-subspace/src/tests.rs
  crates/sc-consensus-subspace-rpc/src/lib.rs
  crates/sc-consensus-subspace/src/tests.rs
  crates/sp-consensus-subspace/src/lib.rs
  crates/sp-consensus-subspace/src/tests.rs
  crates/sp-lightclient/src/tests.rs
  crates/subspace-core-primitives/src/lib.rs
  crates/subspace-farmer-components/src/auditing.rs
  crates/subspace-farmer-components/src/proving.rs
  crates/subspace-runtime/src/lib.rs
  crates/subspace-verification/src/lib.rs
Labels: breaking-consensus, Need to audit
