Repository autonomys/subspace, pull requests merged in 2023-04, with the labels that each got.

#1351 Downgrade piece validation error message for nodes and farmers.
  crates/subspace-farmer/src/utils/piece_validator.rs
  crates/subspace-service/src/dsn/import_blocks/piece_validator.rs
Labels: farmer, networking, node

#1327 Pause piece provider when not connected to DSN.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-networking/Cargo.toml
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/node.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/shared.rs
  crates/subspace-networking/src/utils.rs
  crates/subspace-networking/src/utils/piece_provider.rs
  crates/subspace-service/src/lib.rs
Labels: farmer, networking, node

#1356 networking: Fix networking parameters registry bug.
  crates/subspace-networking/src/behavior/persistent_parameters.rs
  crates/subspace-networking/src/node_runner.rs
Labels: networking

#1360 Modify logging messages for networking.
  crates/subspace-networking/src/behavior/provider_storage/providers.rs
  crates/subspace-networking/src/node_runner.rs
Labels: networking

#1342 Integrate existing executor tests with the new testing framework
  Cargo.lock
  crates/subspace-fraud-proof/src/tests.rs
  domains/client/domain-executor/src/tests.rs
  test/subspace-test-service/Cargo.toml
  test/subspace-test-service/src/mock.rs
Labels: execution

#1365 Change dialling error messages for DSN.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-farmer/src/bin/subspace-farmer/main.rs
  crates/subspace-networking/src/node_runner.rs
Labels: farmer, networking

#1364 Add network partitioning for DSN (part 1).
  Cargo.lock
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-service/Cargo.toml
  crates/subspace-service/src/dsn.rs
  crates/subspace-service/src/lib.rs
Labels: farmer, networking, node

#1370 Reduce logging noise for DSN.
  crates/subspace-networking/src/utils.rs
  crates/subspace-networking/src/utils/piece_provider.rs
Labels: networking

#1371 Update DSN ports in the chain-spec.
  crates/subspace-node/res/chain-spec-raw-gemini-3d.json
Labels: node

#1362 Add test for the bundle validator
  Cargo.lock
  domains/client/domain-executor/src/tests.rs
  test/subspace-test-service/Cargo.toml
  test/subspace-test-service/src/mock.rs
Labels: execution

#1374 Ensure the new block is fully processed by the executor before MockPrimaryNode::produce_blocks is returned in the test
  domains/client/domain-executor/src/domain_worker.rs
  domains/client/domain-executor/src/tests.rs
  test/subspace-test-service/src/mock.rs
Labels: execution

#1368 Enable fraud proof processing in the domain block processor and add tests
  Cargo.lock
  domains/client/domain-executor/Cargo.toml
  domains/client/domain-executor/src/domain_block_processor.rs
  domains/client/domain-executor/src/fraud_proof.rs
  domains/client/domain-executor/src/tests.rs
  test/subspace-test-service/src/mock.rs
Labels: execution

#1412 Add infrastructure support for the core domain testing
  Cargo.lock
  Cargo.toml
  crates/subspace-fraud-proof/src/tests.rs
  domains/client/domain-executor/src/aux_schema.rs
  domains/client/domain-executor/src/domain_bundle_proposer.rs
  domains/client/domain-executor/src/tests.rs
  domains/service/src/core_domain.rs
  domains/service/src/lib.rs
  domains/test/runtime/core-payments/Cargo.toml
  domains/test/runtime/core-payments/build.rs
  domains/test/runtime/core-payments/src/lib.rs
  domains/test/runtime/core-payments/src/runtime.rs
  domains/test/runtime/system/Cargo.toml
  domains/test/runtime/system/build.rs
  domains/test/runtime/system/src/lib.rs
  domains/test/runtime/system/src/runtime.rs
  domains/test/service/Cargo.toml
  domains/test/service/src/chain_spec.rs
  domains/test/service/src/core_domain.rs
  domains/test/service/src/lib.rs
  domains/test/service/src/system_domain.rs
  test/subspace-test-runtime/Cargo.toml
  test/subspace-test-runtime/build.rs
  test/subspace-test-runtime/src/lib.rs
Labels: execution

#1422 Remove unused test utilities from the domain testing framework
  Cargo.lock
  crates/subspace-fraud-proof/src/tests.rs
  domains/client/domain-executor/src/tests.rs
  domains/test/service/src/core_domain.rs
  domains/test/service/src/system_domain.rs
  test/subspace-test-service/Cargo.toml
  test/subspace-test-service/src/lib.rs
  test/subspace-test-service/src/mock.rs
Labels: execution
