Repository autonomys/subspace, pull requests merged in 2023-07, with the labels that each got.

#1588 New archival storage for DSN v3. Part 1.
  Cargo.lock
  crates/subspace-farmer/Cargo.toml
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-farmer/src/utils.rs
  crates/subspace-farmer/src/utils/archival_storage_pieces.rs
  crates/subspace-networking/src/behavior.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/lib.rs
  crates/subspace-networking/src/peer_info.rs
  crates/subspace-networking/src/peer_info/handler.rs
  crates/subspace-networking/src/peer_info/protocol.rs
  crates/subspace-networking/src/request_handlers.rs
  crates/subspace-networking/src/request_handlers/peer_info.rs
  crates/subspace-service/src/dsn.rs
Labels: farmer, networking, breaking-networking

#1567 Domain block production for domains v2
  crates/pallet-domains/src/tests.rs
  crates/sp-domains/src/lib.rs
  domains/client/block-preprocessor/src/lib.rs
  domains/client/domain-executor/src/aux_schema.rs
  domains/client/domain-executor/src/bundle_processor.rs
  domains/client/domain-executor/src/domain_block_processor.rs
  domains/client/domain-executor/src/domain_bundle_producer.rs
  domains/client/domain-executor/src/domain_bundle_proposer.rs
  domains/client/domain-executor/src/domain_worker.rs
  domains/client/domain-executor/src/domain_worker_starter.rs
  domains/client/domain-executor/src/executor.rs
  domains/client/domain-executor/src/lib.rs
  domains/client/domain-executor/src/tests.rs
  domains/client/domain-executor/src/utils.rs
  test/subspace-test-service/src/lib.rs
Labels: execution

#1641 Change cuckoo-filter errors handling for farmers.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-farmer/src/utils/archival_storage_pieces.rs
Labels: farmer

#1642 Farmer refactoring and cleanups
  crates/pallet-subspace/src/mock.rs
  crates/sp-lightclient/src/tests.rs
  crates/subspace-core-primitives/src/lib.rs
  crates/subspace-farmer-components/benches/auditing.rs
  crates/subspace-farmer-components/benches/plotting.rs
  crates/subspace-farmer-components/benches/proving.rs
  crates/subspace-farmer-components/benches/reading.rs
  crates/subspace-farmer-components/src/auditing.rs
  crates/subspace-farmer-components/src/lib.rs
  crates/subspace-farmer-components/src/piece_caching.rs
  crates/subspace-farmer-components/src/plotting.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/shared.rs
  crates/subspace-farmer/src/single_disk_plot.rs
  crates/subspace-farmer/src/single_disk_plot/farming.rs
  crates/subspace-farmer/src/single_disk_plot/piece_reader.rs
  crates/subspace-farmer/src/single_disk_plot/plotting.rs
  test/subspace-test-client/src/lib.rs
Labels: breaking-consensus, breaking-farmer

#1647 Sector expiration/replotting
  Cargo.lock
  crates/pallet-subspace/src/lib.rs
  crates/pallet-subspace/src/mock.rs
  crates/pallet-subspace/src/tests.rs
  crates/sc-consensus-subspace-rpc/src/lib.rs
  crates/sc-consensus-subspace/src/lib.rs
  crates/sc-consensus-subspace/src/slot_worker.rs
  crates/sp-consensus-subspace/src/lib.rs
  crates/sp-lightclient/src/lib.rs
  crates/sp-lightclient/src/tests.rs
  crates/subspace-core-primitives/src/lib.rs
  crates/subspace-core-primitives/src/segments.rs
  crates/subspace-farmer-components/benches/auditing.rs
  crates/subspace-farmer-components/benches/plotting.rs
  crates/subspace-farmer-components/benches/proving.rs
  crates/subspace-farmer-components/benches/reading.rs
  crates/subspace-farmer-components/src/lib.rs
  crates/subspace-farmer-components/src/plotting.rs
  crates/subspace-farmer-components/src/proving.rs
  crates/subspace-farmer-components/src/reading.rs
  crates/subspace-farmer/Cargo.toml
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-farmer/src/single_disk_plot.rs
  crates/subspace-farmer/src/single_disk_plot/farming.rs
  crates/subspace-farmer/src/single_disk_plot/plotting.rs
  crates/subspace-runtime/src/lib.rs
  crates/subspace-verification/src/lib.rs
  test/subspace-test-client/src/lib.rs
  test/subspace-test-runtime/src/lib.rs
Labels: breaking-consensus

#1651 Use full PoS proof
  crates/subspace-core-primitives/src/lib.rs
  crates/subspace-farmer-components/src/plotting.rs
  crates/subspace-farmer-components/src/reading.rs
  crates/subspace-proof-of-space/Cargo.toml
  crates/subspace-proof-of-space/benches/pos.rs
  crates/subspace-proof-of-space/src/chia_legacy.rs
  crates/subspace-proof-of-space/src/lib.rs
  crates/subspace-verification/src/lib.rs
Labels: breaking-consensus

#1654 Connected peers protocols for DSN permanent connections.
  Cargo.lock
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-networking/Cargo.toml
  crates/subspace-networking/src/behavior.rs
  crates/subspace-networking/src/behavior/persistent_parameters.rs
  crates/subspace-networking/src/behavior/tests.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/connected_peers.rs
  crates/subspace-networking/src/connected_peers/handler.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/lib.rs
  crates/subspace-networking/src/node.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/request_handlers/piece_announcement.rs
  crates/subspace-networking/src/request_handlers/piece_by_key.rs
  crates/subspace-networking/src/request_handlers/segment_header.rs
  crates/subspace-service/src/dsn.rs
Labels: networking

#1655 Introduce multiple instances of connected-peers protocol.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-networking/src/behavior.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/connected_peers.rs
  crates/subspace-networking/src/connected_peers/handler.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/peer_info.rs
  crates/subspace-service/src/dsn.rs
Labels: networking

#1671 Remove ballast from genesis block
  Cargo.lock
  crates/sc-consensus-subspace/Cargo.toml
  crates/sc-consensus-subspace/src/archiver.rs
  crates/sc-consensus-subspace/src/lib.rs
  crates/subspace-service/Cargo.toml
  crates/subspace-service/src/genesis_block_builder.rs
  crates/subspace-service/src/lib.rs
Labels: breaking-consensus

#1669 Domains staking: Operator rewards, auto staking operator's nomination tax, and connecting block tree
  crates/pallet-domains/src/block_tree.rs
  crates/pallet-domains/src/domain_registry.rs
  crates/pallet-domains/src/lib.rs
  crates/pallet-domains/src/staking.rs
  crates/pallet-domains/src/staking_epoch.rs
Labels: execution

#1692 Segment headers store
  crates/sc-consensus-subspace-rpc/src/lib.rs
  crates/sc-consensus-subspace/src/archiver.rs
  crates/sc-consensus-subspace/src/aux_schema.rs
  crates/sc-consensus-subspace/src/lib.rs
  crates/sc-consensus-subspace/src/slot_worker.rs
  crates/subspace-core-primitives/src/segments.rs
  crates/subspace-farmer/src/node_client.rs
  crates/subspace-farmer/src/node_client/node_rpc_client.rs
  crates/subspace-farmer/src/utils/piece_validator.rs
  crates/subspace-node/src/bin/subspace-node.rs
  crates/subspace-node/src/import_blocks_from_dsn.rs
  crates/subspace-node/src/lib.rs
  crates/subspace-rpc-primitives/src/lib.rs
  crates/subspace-service/src/dsn.rs
  crates/subspace-service/src/lib.rs
  crates/subspace-service/src/rpc.rs
  crates/subspace-service/src/segment_headers.rs
Labels: breaking-node

#1690 Change DSN bootstrapping.
  Cargo.lock
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-networking/Cargo.toml
  crates/subspace-networking/examples/get-peers-complex.rs
  crates/subspace-networking/examples/get-peers.rs
  crates/subspace-networking/examples/networking.rs
  crates/subspace-networking/examples/requests.rs
  crates/subspace-networking/src/behavior/persistent_parameters.rs
  crates/subspace-networking/src/behavior/tests.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/lib.rs
  crates/subspace-networking/src/node.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/shared.rs
  crates/subspace-service/src/dsn.rs
Labels: networking

#1697 Refactor permanent storage for nodes and farmers.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-farmer/src/utils/farmer_piece_cache.rs
  crates/subspace-farmer/src/utils/farmer_provider_storage.rs
  crates/subspace-farmer/src/utils/piece_cache.rs
  crates/subspace-networking/src/utils/unique_record_binary_heap.rs
  crates/subspace-service/src/dsn.rs
  crates/subspace-service/src/dsn/node_provider_storage.rs
  crates/subspace-service/src/lib.rs
  crates/subspace-service/src/piece_cache.rs
Labels: networking

#1705 Update connected-peers protocol for DSN.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-networking/src/behavior.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-service/src/dsn.rs
Labels: networking

#1713 Upgrade libp2p to v.0.52.1 for DSN.
  Cargo.lock
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-networking/Cargo.toml
  crates/subspace-networking/examples/get-peers-complex.rs
  crates/subspace-networking/examples/get-peers.rs
  crates/subspace-networking/examples/networking.rs
  crates/subspace-networking/examples/requests.rs
  crates/subspace-networking/src/behavior.rs
  crates/subspace-networking/src/behavior/tests.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/connected_peers.rs
  crates/subspace-networking/src/connected_peers/handler.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/create/transport.rs
  crates/subspace-networking/src/lib.rs
  crates/subspace-networking/src/node.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/peer_info.rs
  crates/subspace-networking/src/peer_info/handler.rs
  crates/subspace-networking/src/request_handlers/piece_announcement.rs
  crates/subspace-networking/src/request_responses.rs
  crates/subspace-networking/src/reserved_peers.rs
  crates/subspace-networking/src/reserved_peers/handler.rs
  crates/subspace-networking/src/shared.rs
  crates/subspace-networking/src/utils.rs
  crates/subspace-networking/src/utils/multihash.rs
  crates/subspace-networking/src/utils/unique_record_binary_heap.rs
  crates/subspace-networking/src/utils/unique_record_binary_heap/tests.rs
  crates/subspace-service/src/lib.rs
Labels: networking, breaking-networking
