Repository autonomys/subspace, pull requests merged in 2023-08, with the labels that each got.

#1732 networking: Disable private IPs by default.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-farmer/src/bin/subspace-farmer/main.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-node/src/bin/subspace-node.rs
  crates/subspace-node/src/lib.rs
Labels: networking

#1736 Add Kademlia mode override.
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/node_runner.rs
Labels: networking

#1753 DSN external addresses.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-farmer/src/bin/subspace-farmer/main.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-node/src/bin/subspace-node.rs
  crates/subspace-node/src/lib.rs
  crates/subspace-service/src/dsn.rs
Labels: networking

#1772 Override DSN private ips with dev flag.
  crates/subspace-farmer/src/bin/subspace-farmer/main.rs
  crates/subspace-node/src/bin/subspace-node.rs
Labels: node

#1762 Update persistent networking parameters manager.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-networking/examples/get-peers-complex.rs
  crates/subspace-networking/src/behavior/persistent_parameters.rs
  crates/subspace-networking/src/behavior/tests.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/node.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/reserved_peers.rs
  crates/subspace-networking/src/shared.rs
  crates/subspace-networking/src/utils.rs
  crates/subspace-service/src/dsn.rs
Labels: networking

#1783 Farmer checksums
  Cargo.lock
  crates/pallet-subspace/src/mock.rs
  crates/sp-lightclient/src/tests.rs
  crates/subspace-archiving/src/archiver.rs
  crates/subspace-core-primitives/Cargo.toml
  crates/subspace-core-primitives/src/checksum.rs
  crates/subspace-core-primitives/src/checksum/tests.rs
  crates/subspace-core-primitives/src/crypto.rs
  crates/subspace-core-primitives/src/lib.rs
  crates/subspace-farmer-components/Cargo.toml
  crates/subspace-farmer-components/benches/auditing.rs
  crates/subspace-farmer-components/benches/plotting.rs
  crates/subspace-farmer-components/benches/proving.rs
  crates/subspace-farmer-components/benches/reading.rs
  crates/subspace-farmer-components/src/auditing.rs
  crates/subspace-farmer-components/src/plotting.rs
  crates/subspace-farmer-components/src/proving.rs
  crates/subspace-farmer-components/src/reading.rs
  crates/subspace-farmer-components/src/sector.rs
  crates/subspace-farmer/src/single_disk_plot.rs
  crates/subspace-farmer/src/single_disk_plot/farming.rs
  crates/subspace-farmer/src/single_disk_plot/piece_cache.rs
  crates/subspace-farmer/src/single_disk_plot/piece_reader.rs
  crates/subspace-farmer/src/single_disk_plot/plotting.rs
  crates/subspace-networking/src/behavior/persistent_parameters.rs
  crates/subspace-networking/src/request_handlers/piece_announcement.rs
  test/subspace-test-client/src/lib.rs
Labels: breaking-farmer

#1790 Introduce a simple benchmark for DSN.
  crates/subspace-networking/examples/benchmark.rs
Labels: networking

#1802 Disable port reuse for DSN.
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/create/transport.rs
Labels: networking

#1800 Improve logging for DSN protocols.
  crates/subspace-networking/src/connected_peers.rs
  crates/subspace-networking/src/node_runner.rs
Labels: networking

#1810 Fix temporary_bans bug for DSN.
  crates/subspace-networking/src/node_runner.rs
Labels: networking

#1815 Set Client Kademlia mode for nodes.
  crates/subspace-service/src/dsn.rs
Labels: networking

#1818 Change sector ID derivation to use hashing instead of XOR
  crates/subspace-core-primitives/src/lib.rs
Labels: breaking-consensus

#1819 Archive blocks without justification
  crates/sc-consensus-subspace/src/archiver.rs
  crates/subspace-service/src/sync_from_dsn/import_blocks.rs
  test/subspace-test-client/src/lib.rs
Labels: breaking-networking, breaking-consensus

#1822 Remove piece index hash
  crates/subspace-core-primitives/src/lib.rs
  crates/subspace-core-primitives/src/pieces.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-farmer/src/piece_cache.rs
  crates/subspace-farmer/src/utils/farmer_piece_getter.rs
  crates/subspace-farmer/src/utils/readers_and_pieces.rs
  crates/subspace-networking/examples/benchmark.rs
  crates/subspace-networking/src/lib.rs
  crates/subspace-networking/src/request_handlers.rs
  crates/subspace-networking/src/request_handlers/object_mappings.rs
  crates/subspace-networking/src/request_handlers/piece_announcement.rs
  crates/subspace-networking/src/request_handlers/piece_by_index.rs
  crates/subspace-networking/src/request_handlers/pieces_by_range.rs
  crates/subspace-networking/src/utils/multihash.rs
  crates/subspace-networking/src/utils/piece_provider.rs
  crates/subspace-networking/src/utils/unique_record_binary_heap.rs
Labels: breaking-networking

#1830 Remove obsolete code for announcements.
  crates/subspace-networking/src/lib.rs
  crates/subspace-networking/src/node.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/shared.rs
  crates/subspace-service/src/dsn.rs
Labels: networking

#1829 Update connected peers protocol for DSN.
  crates/subspace-networking/src/connected_peers.rs
Labels: networking

#1839 Introduce Autonat protocol for DSN.
  Cargo.lock
  crates/subspace-networking/Cargo.toml
  crates/subspace-networking/examples/benchmark.rs
  crates/subspace-networking/src/behavior.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/node_runner.rs
Labels: networking

#1845 Fix last segment headers handlers.
  crates/sc-consensus-subspace-rpc/src/lib.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-farmer/src/node_client.rs
  crates/subspace-farmer/src/node_client/node_rpc_client.rs
Labels: networking

#1842 Change subpspace-bootstrap-node CLI arguments.
  crates/subspace-networking/examples/benchmark.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
Labels: networking

#1844 Update examples and prometheus server for DSN.
  Cargo.lock
  crates/subspace-networking/Cargo.toml
  crates/subspace-networking/examples/get-peers-complex.rs
  crates/subspace-networking/examples/metrics.rs
  crates/subspace-networking/src/utils/prometheus.rs
Labels: networking

#1863 networking: Update libp2p to v.0.52.2
  Cargo.lock
  crates/subspace-networking/Cargo.toml
Labels: networking

#1864 Simplify L1 lookups for DSN farmers.
  Cargo.lock
  crates/subspace-farmer/Cargo.toml
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-farmer/src/utils.rs
  crates/subspace-farmer/src/utils/archival_storage_info.rs
  crates/subspace-farmer/src/utils/archival_storage_pieces.rs
  crates/subspace-farmer/src/utils/farmer_piece_getter.rs
  crates/subspace-farmer/src/utils/readers_and_pieces.rs
  crates/subspace-networking/src/lib.rs
  crates/subspace-networking/src/peer_info.rs
Labels: networking, breaking-networking

#1856 Add metrics to subspace-bootstrap-node.
  crates/subspace-networking/examples/metrics.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/utils/prometheus.rs
Labels: networking

#1867 Refactor subspace-networking module structure.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-networking/examples/benchmark.rs
  crates/subspace-networking/examples/get-peers.rs
  crates/subspace-networking/examples/metrics.rs
  crates/subspace-networking/examples/networking.rs
  crates/subspace-networking/examples/requests.rs
  crates/subspace-networking/src/behavior.rs
  crates/subspace-networking/src/behavior/tests.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/constructor.rs
  crates/subspace-networking/src/constructor/temporary_bans.rs
  crates/subspace-networking/src/constructor/transport.rs
  crates/subspace-networking/src/lib.rs
  crates/subspace-networking/src/node.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/protocols.rs
  crates/subspace-networking/src/protocols/connected_peers.rs
  crates/subspace-networking/src/protocols/connected_peers/handler.rs
  crates/subspace-networking/src/protocols/peer_info.rs
  crates/subspace-networking/src/protocols/peer_info/handler.rs
  crates/subspace-networking/src/protocols/peer_info/protocol.rs
  crates/subspace-networking/src/protocols/request_response.rs
  crates/subspace-networking/src/protocols/request_response/handlers.rs
  crates/subspace-networking/src/protocols/request_response/handlers/generic_request_handler.rs
  crates/subspace-networking/src/protocols/request_response/handlers/piece_by_index.rs
  crates/subspace-networking/src/protocols/request_response/handlers/segment_header.rs
  crates/subspace-networking/src/protocols/request_response/request_response_factory.rs
  crates/subspace-networking/src/protocols/request_response/request_response_factory/tests.rs
  crates/subspace-networking/src/protocols/reserved_peers.rs
  crates/subspace-networking/src/protocols/reserved_peers/handler.rs
  crates/subspace-networking/src/shared.rs
  crates/subspace-service/src/dsn.rs
Labels: networking

#1874 Add tests for connected-peers protocol (DSN).
  Cargo.lock
  crates/subspace-networking/Cargo.toml
  crates/subspace-networking/src/protocols/connected_peers.rs
  crates/subspace-networking/src/protocols/connected_peers/tests.rs
Labels: networking

#1909 Update benchmark example in `subspace-networking` crate.
  crates/subspace-networking/examples/benchmark.rs
Labels: networking

#1910 Tweak a retry number for piece retrieval operations on DSN L2.
  crates/subspace-farmer/src/piece_cache.rs
  crates/subspace-farmer/src/single_disk_farm/plotting.rs
Labels: networking

#1912 Tweak a retry number for piece retrieval operations on DSN L2. (#1910)
  crates/subspace-farmer/src/piece_cache.rs
  crates/subspace-farmer/src/single_disk_farm/plotting.rs
Labels: networking
