Repository autonomys/subspace, pull requests merged in 2023-03, with the labels that each got.

#1206 DSN. Fix async handlers issue for request-response protocol.
  crates/subspace-networking/examples/requests.rs
  crates/subspace-networking/src/behavior/tests.rs
  crates/subspace-networking/src/request_responses.rs
  crates/subspace-networking/src/request_responses/tests.rs
Labels: networking

#1172 DSN. Verify pieces on block import.
  Cargo.lock
  crates/subspace-core-primitives/src/crypto/kzg.rs
  crates/subspace-core-primitives/src/lib.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-networking/src/request_handlers/root_block.rs
  crates/subspace-service/Cargo.toml
  crates/subspace-service/src/dsn.rs
  crates/subspace-service/src/dsn/import_blocks.rs
  crates/subspace-service/src/dsn/import_blocks/piece_validator.rs
  crates/subspace-service/src/dsn/import_blocks/root_blocks.rs
  crates/subspace-service/src/lib.rs
  crates/subspace-service/src/root_blocks.rs
Labels: farmer, networking, node, epic

#1212 Segment reconstruction for the missing pieces from DSN.
  Cargo.lock
  crates/sp-lightclient/src/tests.rs
  crates/subspace-archiving/src/lib.rs
  crates/subspace-archiving/src/piece_reconstructor.rs
  crates/subspace-archiving/tests/integration/main.rs
  crates/subspace-archiving/tests/integration/piece_reconstruction.rs
  crates/subspace-core-primitives/src/lib.rs
  crates/subspace-farmer-components/Cargo.toml
  crates/subspace-farmer-components/benches/auditing.rs
  crates/subspace-farmer-components/benches/plotting.rs
  crates/subspace-farmer-components/benches/proving.rs
  crates/subspace-farmer-components/benches/utils/mod.rs
  crates/subspace-farmer-components/src/lib.rs
  crates/subspace-farmer-components/src/plotting.rs
  crates/subspace-farmer-components/src/segment_reconstruction.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
  crates/subspace-farmer/src/single_disk_plot.rs
  crates/subspace-farmer/src/utils/farmer_piece_getter.rs
  crates/subspace-farmer/src/utils/node_piece_getter.rs
  crates/subspace-networking/src/utils/piece_provider.rs
  crates/subspace-service/src/dsn/import_blocks.rs
  test/subspace-test-client/src/lib.rs
Labels: farmer, networking

#1247 Adjust query and requests` timeouts for DSN.
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/request_responses.rs
Labels: networking

#1249 DSN. Modify piece retrieval attempts warnings.
  crates/subspace-networking/src/utils/piece_provider.rs
Labels: farmer, networking

#1250 Add DSN connection limits parameters for subspace-node.
  crates/subspace-node/src/bin/subspace-node.rs
  crates/subspace-node/src/lib.rs
  crates/subspace-service/src/dsn.rs
  domains/test/service/src/lib.rs
  test/subspace-test-service/src/lib.rs
Labels: networking

#1245 Refactor the parameters of the executor construction
  crates/subspace-fraud-proof/src/invalid_state_transition_proof.rs
  crates/subspace-fraud-proof/src/lib.rs
  crates/subspace-fraud-proof/src/tests.rs
  crates/subspace-node/src/bin/subspace-node.rs
  crates/subspace-service/src/lib.rs
  domains/client/domain-executor/src/core_executor.rs
  domains/client/domain-executor/src/domain_block_processor.rs
  domains/client/domain-executor/src/lib.rs
  domains/client/domain-executor/src/system_executor.rs
  domains/service/src/core_domain.rs
  domains/service/src/system_domain.rs
  domains/test/service/src/lib.rs
Labels: refactor, execution

#1258 Tweak networking parameters for DSN.
  crates/subspace-networking/src/behavior/persistent_parameters.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/node_runner.rs
  crates/subspace-networking/src/utils.rs
  crates/subspace-node/src/bin/subspace-node.rs
  crates/subspace-node/src/lib.rs
  crates/subspace-service/src/dsn.rs
  domains/test/service/src/lib.rs
  test/subspace-test-service/src/lib.rs
Labels: networking, node

#1267 DSN. Restore networking parameter manager.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-networking/src/behavior/persistent_parameters.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/lib.rs
  crates/subspace-service/src/dsn.rs
  crates/subspace-service/src/lib.rs
Labels: farmer, networking, node

#1244 Fix potential arithmetic underflow error while collecting bundle receipts
  domains/client/domain-executor/src/domain_bundle_producer.rs
  domains/client/domain-executor/src/domain_bundle_proposer.rs
Labels: bug, execution

#1278 Runtime interface for solution verification
  Cargo.lock
  crates/pallet-subspace/src/lib.rs
  crates/pallet-subspace/src/mock.rs
  crates/pallet-subspace/src/tests.rs
  crates/sc-consensus-subspace/src/lib.rs
  crates/sc-consensus-subspace/src/slot_worker.rs
  crates/sp-consensus-subspace/Cargo.toml
  crates/sp-consensus-subspace/src/lib.rs
  crates/sp-lightclient/src/lib.rs
  crates/sp-lightclient/src/mock.rs
  crates/sp-lightclient/src/tests.rs
  crates/subspace-core-primitives/src/crypto/kzg.rs
  crates/subspace-core-primitives/src/lib.rs
  crates/subspace-farmer-components/Cargo.toml
  crates/subspace-node/src/lib.rs
  crates/subspace-service/Cargo.toml
  crates/subspace-service/src/lib.rs
  crates/subspace-verification/src/lib.rs
  test/subspace-test-client/src/lib.rs
Labels: breaking-runtime

#1268 Disable unused gossipsub protocol in the DSN stack.
  crates/subspace-networking/src/behavior.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/node_runner.rs
Labels: networking

#1273 Limit pending connections number for DSN.
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-node/src/bin/subspace-node.rs
  crates/subspace-node/src/lib.rs
  crates/subspace-service/src/dsn.rs
  domains/test/service/src/lib.rs
  test/subspace-test-service/src/lib.rs
Labels: farmer, networking, node

#1276 Change established connection limits algorithm for DSN.
  crates/subspace-networking/src/create.rs
  crates/subspace-networking/src/node_runner.rs
Labels: networking

#1293 Remove obsolete code from the piece providers for DSN.
  crates/subspace-farmer/src/utils/farmer_provider_storage.rs
  crates/subspace-service/src/dsn/node_provider_storage.rs
Labels: farmer, networking, node

#1292 Add QUIC transport support for DSN.
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-networking/Cargo.toml
  crates/subspace-networking/src/create/transport.rs
  crates/subspace-service/src/lib.rs
Labels: farmer, networking, node

#1312 fix plot size check in farmer
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm.rs
Labels: bug, farmer

#1314 Pieces cleanup
  crates/pallet-subspace/src/lib.rs
  crates/pallet-subspace/src/mock.rs
  crates/sc-consensus-subspace/src/slot_worker.rs
  crates/sc-consensus-subspace/src/tests.rs
  crates/sp-lightclient/src/lib.rs
  crates/subspace-archiving/tests/integration/piece_reconstruction.rs
  crates/subspace-core-primitives/src/lib.rs
  crates/subspace-core-primitives/src/pieces.rs
  crates/subspace-core-primitives/src/pieces/serde.rs
  crates/subspace-core-primitives/src/tests.rs
  crates/subspace-farmer-components/src/farming.rs
  crates/subspace-farmer-components/src/lib.rs
  crates/subspace-farmer-components/src/plotting.rs
  crates/subspace-farmer/src/single_disk_plot/piece_reader.rs
  crates/subspace-networking/src/create.rs
  crates/subspace-runtime-primitives/src/lib.rs
  crates/subspace-runtime/src/lib.rs
  crates/subspace-service/src/piece_cache.rs
  crates/subspace-service/src/piece_cache/tests.rs
  crates/subspace-verification/src/lib.rs
  test/subspace-test-runtime/src/lib.rs
Labels: breaking-runtime

#1315 Refactor pieces in segment
  crates/pallet-subspace/src/lib.rs
  crates/pallet-subspace/src/mock.rs
  crates/pallet-subspace/src/tests.rs
  crates/sc-consensus-subspace-rpc/src/lib.rs
  crates/sc-consensus-subspace/src/lib.rs
  crates/sc-consensus-subspace/src/slot_worker.rs
  crates/sc-consensus-subspace/src/tests.rs
  crates/sp-consensus-subspace/src/lib.rs
  crates/sp-consensus-subspace/src/tests.rs
  crates/sp-lightclient/src/lib.rs
  crates/sp-lightclient/src/tests.rs
  crates/subspace-archiving/src/archiver.rs
  crates/subspace-archiving/src/reconstructor.rs
  crates/subspace-archiving/tests/integration/archiver.rs
  crates/subspace-archiving/tests/integration/reconstructor.rs
  crates/subspace-core-primitives/src/lib.rs
  crates/subspace-core-primitives/src/objects.rs
  crates/subspace-farmer-components/benches/auditing.rs
  crates/subspace-farmer-components/benches/plotting.rs
  crates/subspace-farmer-components/benches/proving.rs
  crates/subspace-farmer-components/src/farming.rs
  crates/subspace-farmer-components/src/lib.rs
  crates/subspace-farmer-components/src/plotting.rs
  crates/subspace-farmer-components/src/segment_reconstruction.rs
  crates/subspace-farmer/src/bin/subspace-farmer/commands/farm/dsn.rs
  crates/subspace-farmer/src/object_mappings/tests.rs
  crates/subspace-farmer/src/single_disk_plot.rs
  crates/subspace-farmer/src/utils/piece_validator.rs
  crates/subspace-farmer/src/ws_rpc_server.rs
  crates/subspace-networking/examples/announce-piece-complex.rs
  crates/subspace-networking/examples/announce-piece.rs
  crates/subspace-networking/src/utils/multihash.rs
  crates/subspace-service/src/dsn.rs
  crates/subspace-service/src/dsn/import_blocks.rs
  crates/subspace-service/src/dsn/import_blocks/piece_validator.rs
  crates/subspace-service/src/dsn/import_blocks/segment_headers.rs
  crates/subspace-service/src/lib.rs
  crates/subspace-service/src/piece_cache.rs
  crates/subspace-service/src/piece_cache/tests.rs
  crates/subspace-service/src/segment_headers.rs
  crates/subspace-verification/src/lib.rs
  test/subspace-test-client/src/lib.rs
Labels: breaking-node

#1321 Change the default provider storage for subspace-bootstrap-node.
  crates/subspace-networking/src/behavior/provider_storage.rs
  crates/subspace-networking/src/behavior/provider_storage/providers.rs
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
  crates/subspace-networking/src/lib.rs
Labels: networking

#1322 Modify `generate-keypair` command output for subspace-bootstrap-node app.
  crates/subspace-networking/src/bin/subspace-bootstrap-node/main.rs
Labels: improvement, networking

#1302 Ensure new slot is fully processed in `MockPrimaryNode`
  Cargo.lock
  crates/subspace-fraud-proof/Cargo.toml
  crates/subspace-fraud-proof/src/tests.rs
  crates/subspace-node/src/bin/subspace-node.rs
  domains/client/domain-executor/src/core_domain_worker.rs
  domains/client/domain-executor/src/core_executor.rs
  domains/client/domain-executor/src/domain_worker.rs
  domains/client/domain-executor/src/lib.rs
  domains/client/domain-executor/src/system_domain_worker.rs
  domains/client/domain-executor/src/system_executor.rs
  domains/client/domain-executor/src/tests.rs
  domains/service/src/core_domain.rs
  domains/service/src/system_domain.rs
  domains/test/service/src/lib.rs
  test/subspace-test-service/Cargo.toml
  test/subspace-test-service/src/mock.rs
Labels: execution

#1320 fix deserialization error during xdm verification of core domain extrinsics
  domains/client/block-preprocessor/src/lib.rs
  domains/client/block-preprocessor/src/runtime_api_full.rs
  domains/client/block-preprocessor/src/runtime_api_light.rs
  domains/client/block-preprocessor/src/utils.rs
  domains/client/block-preprocessor/src/xdm_verifier.rs
  domains/primitives/messenger/src/lib.rs
  domains/runtime/system/src/runtime.rs
  domains/test/runtime/src/runtime.rs
Labels: breaking-runtime
